<launch>
    <node name="orb_slam3_rbgd_inertial" pkg="orb_slam3_ros_wrapper" type="orb_slam3_ros_wrapper_rgbd" output="screen">

        <remap from="/camera/rgb/image_raw"                 to="/camera/color/image_raw"/>
        <remap from="/camera/depth_registered/image_raw"    to="/camera/aligned_depth_to_color/image_raw"/>
        <remap from="/imu"                                  to="/red/lpms/imu/data"/>

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string"   value="$(find orb_slam3_ros_wrapper)/config/ORBvoc.txt" />
        <param name="settings_file" type="string"   value="$(find orb_slam3_ros_wrapper)/config/D455_imu_experiments.yaml" />
    
        <!-- Parameters for ROS -->
        <param name="world_frame_id"    type="string"   value="world" />
        <param name="map_frame_id"      type="string"   value="map" />
        <param name="robot_frame_id"    type="string"   value="base_link" />
        <param name="cam_frame_id"      type="string"   value="camera" />
    </node>

    <!--Tb_c = Tb_i * inv(Tc_i)-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_camera" args="0.00394 -0.0110 0.0822 0.4964 -0.4988 0.5017 -0.5031 base_link camera 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_imu" args="0.025 0 0.115 0 0 0 1 base_link imu 100" />

</launch>
